@model BilgiYonetimSistemi.DATA.OgrencilerDerslerDonemler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OgrencilerDerslerDonemler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DersinOgrencisi.OgrenciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersinOgrencisi.OgrenciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciDersinDonemi.DonemYili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciDersinDonemi.DonemYili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrencininDersi.DersAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininDersi.DersAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OgrenciDerslerDonemler }) |
    @Html.ActionLink("Back to List", "Index")
</p>
