@model BilgiYonetimSistemi.DATA.OgrencilerDerslerDonemler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div>
                        <h4>Öğrencinin Dönem Dersi</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Öğrenci:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DersinOgrencisi.OgrenciAdi)
                            </dd>

                            <dt>
                                @Html.DisplayName("Dönem:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OgrenciDersinDonemi.DonemYili)
                            </dd>

                            <dt>
                                @Html.DisplayName("Ders:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OgrencininDersi.DersAdi)
                            </dd>
                            <br />
                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("GÜNCELLE", "Edit", new { id = Model.OgrenciDerslerDonemler }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Listeye Dön", "Index", null, new
                   {
                       @class = "btn btn-default  ",
                       @style = "float:right"
                   })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>