@model IEnumerable<BilgiYonetimSistemi.DATA.Entities.Yonetici>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("YENİ KAYIT", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
       
        <td>
            @Html.ActionLink("DÜZENLE", "Edit", new { id=item.YoneticiID }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("DETAY", "Details", new { id=item.YoneticiID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("SİL", "Delete", new { id=item.YoneticiID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
