@model BilgiYonetimSistemi.DATA.OgrencilerBolumler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div class="alert alert-danger">
                        <h3>@Model.BolumunOgrencisi.OgrenciAdi  @Model.BolumunOgrencisi.OgrenciSoyadi Öğrencisinin @Model.OgrencininBolumu.BolumAdi Bölümünü Silmek İstediğinize Emin Misiniz?</h3>
                    </div>
                        <div>
                            <h4>Ögrenci Bölüm</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("Öğrenci Adı:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BolumunOgrencisi.OgrenciAdi)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Bölüm Adı:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OgrencininBolumu.BolumAdi)
                                </dd>
                                <br />
                                <br />
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="SİL" class="btn btn-danger" /> 
                                  @Html.ActionLink("Listeye Dön", "Index", null, new
                             {
                                 @class = "btn btn-default  ",
                                 @style = "float:right"
                             })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
