

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BİLGİ YÖNETİM SİSTEMİ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bilge Adam">
    <meta name="author" content="Bilge Adam">
    <meta name="theme-color" content="#313338" />
    <link rel="manifest" href="/manifest.json">


    <link href="~/lib/css/style.css" rel="stylesheet" />
    <link href="~/lib/css/master_styles.css" rel="stylesheet" />
    
    <style>
        #atlwdg-trigger {
            margin-right: 60px;
        }
    </style>
    <style>
        .service-header {
            color: white;
            text-align: center;
        }
    </style>

    <link href="~/lib/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/css/kendo.silver.min.css" rel="stylesheet" />

    <link href="~/lib/css/kendo.silver.mobile.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <link href="https://cdn0.sabis.sakarya.edu.tr/kendo/2016.1.412/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://cdn0.sabis.sakarya.edu.tr/kendo/2016.1.412/styles/kendo.dataviz.silver.min.css" rel="stylesheet" />

    <link href="~/lib/css/google_font.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.pnotify.default.css" rel="stylesheet" />
    <link href="~/lib/css/jqueryui.min.css" rel="stylesheet" />
    @*<link href="~/lib/css/font-awesome.min.css" rel="stylesheet" />*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link rel='stylesheet' type='text/css' href='https://cdn0.sabis.sakarya.edu.tr/ogr//assets/css/ie8.css'>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script src='https://cdn0.sabis.sakarya.edu.tr/ogr//assets/plugins/charts-flot/excanvas.min.js'></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->
    <!-- Plugin Css dosyaları Başla -->
    <!-- assets/plugins/ klasöründeki eklentilerin css dosyaları burada yüklenecek -->
    <!-- Plugin Css dosyaları Bit -->



    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/lib/js/jszip.min.js"></script>
    <script src="~/lib/js/kendo.all.min.js"></script>
    <script src="~/lib/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/js/kendo.timezones.min.js"></script>
    <script src="~/lib/js/kendo.culture.tr-TR.min.js"></script>

    <script>
        kendo.culture("tr-TR");
    </script>




</head>

<body class=" ">
           

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="" data-original-title="Men&#252; A&#231;/Kapat"></a>


        <div class="pull-left logo-yani-yazisi">
            BİLGİ YÖNETİM SİSTEMİ
        </div>
        @{
            var kullanici = Session["Kullanici"] as BilgiYonetimSistemi.DATA.Entities.Kullanici;
            var kullanıcıAdı=""; var resim = ""; var partial = "";
            if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "yonetici") || BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "developer"))
            {
                kullanıcıAdı = kullanici.UserName;
                if (kullanici.Yonetici == null)
                { resim = "admin.png"; }
                else
                { resim = kullanici.Yonetici.Fotograf; }
                partial = "_AdminPartial";
            }
            else if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "ogrenci"))
            {
                kullanıcıAdı = kullanici.UserName;
                resim = kullanici.Ogrenci.OgrenciBilgisi.Fotograf;
                partial = "_OgrenciPartial";

            }
            else if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "ogretmen"))
            {
                kullanıcıAdı = kullanici.UserName;
                resim = kullanici.Ogretmen.OgretmeninBilgisi.Fotograf;
                partial = "_OgretmenPartial";
            }
        }
        <ul class="nav navbar-nav pull-right toolbar">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                    <span>
                        @kullanıcıAdı 
                        <i class="fa fa-caret-down"></i>
                    </span><img src="~/images/@resim" alt="Dangerfield" style="height:2%;"/> 
                </a>
                <ul class="dropdown-menu userinfo arrow" style="padding:0 15px;">
                    <li class="userlinks">
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <a href="https://sabis.sakarya.edu.tr/tr/Hesap/?t=6">
                                    @*kullanıcı idye göre profil *@
                                    <img src="~/images/@resim" alt="Kullanıcı Resmi" style="padding:0 10px 10px; width:150px; border-radius:20px;" />
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="https://sabis.sakarya.edu.tr/tr/Hesap/?t=6">Profil<i class="pull-right fa fa-user"></i></a></li>
                            <li><a href="@Url.Action("ChangePassword","Home")">Sifre Degistir<i class="pull-right fa fa-cog"></i></a></li>

                            <li class="divider"></li>

                            <li><a href="@Url.Action("LogOff", "Home")">Oturum Kapat <i class="pull-right fa   fa-sign-out-alt"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            
        </ul>



    </header>

    <div id="page-container">
        <!-- Menu Partial Buraya Gelecek -->
        <!-- BEGIN SIDEBAR -->
        <nav id="page-leftbar" role="navigation">
            
            @Html.Partial(partial)
        </nav>

        <div id="page-content">
            <div id='wrap'>


                <div id="page-heading">


                    <h1 class="hidden"></h1>
                </div>
                <div class="container">
                    <!-- Sayfa İçeriğinin Başla -->
                    <!-- Pines Notify Gelecek -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-midnightblue">
                                <div class="panel-body">
                                    <div class="row">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Sayfa İçeriğinin Bit -->
                </div> <!-- container -->
            </div> <!--wrap -->
        </div> <!-- page-content -->
        <!--Model Box Başla-->
        <div id="GlobalModalBox" class="modal fade">
            <div class="modal-dialog" style="width: auto !important">
                <div class="modal-content col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="modal-header">
                        <button type="button" class="close GlobalModalBoxClose" data-dismiss="modal" aria-hidden="true" style="font-size: 36px; color:red;">×</button>
                        <h4 class="modal-title" id="GlobalModalBoxTitle">Başlık</h4>
                    </div>
                    <div class="modal-body">
                        <p id="GlobalModalBoxBody">One fine body…</p>
                    </div>
                    <div class="modal-footer" id="GlobalModalBoxFooterYesNo">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="GlobalModalBoxYes">Evet</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="GlobalModalBoxNo">Hayır</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--Model Box Bit-->
        <!--Loading Box-->
        <!--Loading Box-->

        <footer role="contentinfo">
            <div class="clearfix">
                <ul class="list-unstyled list-inline">
                    <li>BİLGE ADAM AKADEMİ &copy; 2019</li>
                    <li>Version: 1.0.0.116 - Dated: 21.3.2019</li>                    
                    <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                </ul>
            </div>
        </footer>

    </div> <!-- page-container -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="assets/js/jqueryui-1.10.3.min.js'))</script>
    -->
    @* bendekileri kullanalim dur *@

    <script src="~/lib/js/master_core.js"></script>
    <script src="~/lib/js/uys.js"></script>
    <script src="~/lib/js/showLoading.js"></script>
    <script src="~/lib/js/enquire.js"></script>
    <script src="~/lib/js/jquery.cookie.js"></script>
    <script src="~/lib/js/jquery.nicescroll.min.js"></script>
    <script src="~/lib/js/placeholdr.js"></script>
    <script src="~/lib/js/application.js"></script>
    <script src="~/lib/js/jquery.pnotify.min.js"></script>
    <script src="~/lib/js/parsley.min.js"></script>


    
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @RenderSection("scripts", required: false)
</body>
</html>
