

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BİLGİ YÖNETİM SİSTEMİ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sakarya &#220;niversitesi">
    <meta name="author" content="Sakarya &#220;niversitesi">
    <meta name="theme-color" content="#313338" />
    <link rel="manifest" href="/manifest.json">


    <link href="~/lib/css/style.css" rel="stylesheet" />
    <link href="~/lib/css/master_styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #atlwdg-trigger {
            margin-right: 60px;
        }
    </style>
    <style>
        .service-header {
            color: white;
            text-align: center;
        }
    </style>

    <link href="~/lib/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/css/kendo.silver.min.css" rel="stylesheet" />

    <link href="~/lib/css/kendo.silver.mobile.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <link href="https://cdn0.sabis.sakarya.edu.tr/kendo/2016.1.412/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://cdn0.sabis.sakarya.edu.tr/kendo/2016.1.412/styles/kendo.dataviz.silver.min.css" rel="stylesheet" />

    <link href="~/lib/css/google_font.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.pnotify.default.css" rel="stylesheet" />
    <link href="~/lib/css/jqueryui.min.css" rel="stylesheet" />
    @*<link href="~/lib/css/font-awesome.min.css" rel="stylesheet" />*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link rel='stylesheet' type='text/css' href='https://cdn0.sabis.sakarya.edu.tr/ogr//assets/css/ie8.css'>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script src='https://cdn0.sabis.sakarya.edu.tr/ogr//assets/plugins/charts-flot/excanvas.min.js'></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->
    <!-- Plugin Css dosyaları Başla -->
    <!-- assets/plugins/ klasöründeki eklentilerin css dosyaları burada yüklenecek -->
    <!-- Plugin Css dosyaları Bit -->



    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/lib/js/jszip.min.js"></script>
    <script src="~/lib/js/kendo.all.min.js"></script>
    <script src="~/lib/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/js/kendo.timezones.min.js"></script>
    <script src="~/lib/js/kendo.culture.tr-TR.min.js"></script>

    <script>
        kendo.culture("tr-TR");
    </script>




</head>

<body class=" ">


    @*<div id="headerbar">                  NE İŞE YARADIĞI BİLİN MİYOR :D
            <div class="container">


                <h3 class="service-header">Kişisel Servisler</h3>
                <div class="row">

                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-info">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-user"></i></div>
                            </div>
                            <div class="tiles-footer">
                                Personel
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-orange">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-group"></i></div>
                            </div>
                            <div class="tiles-footer">
                                ABİS
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-success">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-briefcase"></i></div>
                            </div>
                            <div class="tiles-footer">
                                AF
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-magenta">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-thumbs-up"></i></div>
                            </div>
                            <div class="tiles-footer">
                                ABP
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-indigo">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-plus-square"></i></div>
                            </div>
                            <div class="tiles-footer">
                                Ekders
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-inverse">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-globe"></i></div>
                            </div>
                            <div class="tiles-footer">
                                WSY
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-midnightblue">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-star-half-o"></i></div>
                            </div>
                            <div class="tiles-footer">
                                PD
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-green">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-tasks"></i></div>
                            </div>
                            <div class="tiles-footer">
                                DPP
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-brown">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-archive"></i></div>
                            </div>
                            <div class="tiles-footer">
                                OGRİS
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <a href="#" class="shortcut-tiles tiles-primary">
                            <div class="tiles-body">
                                <div class="pull-left"><i class="fa fa-bar-chart-o"></i></div>
                            </div>
                            <div class="tiles-footer">
                                DYİ
                            </div>
                        </a>
                    </div>



                </div>

                <h3 class="service-header">Genel Servisler</h3>
                <div class="row">

                </div>





            </div>
        </div>*@

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="" data-original-title="Men&#252; A&#231;/Kapat"></a>


        <div class="pull-left logo-yani-yazisi">
            BİLGİ YÖNETİM SİSTEMİ
        </div>

        <ul class="nav navbar-nav pull-right toolbar">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                    <span>
                        g110100060 @*ögrenci numarasi db'den gelecek*@
                        <i class="fa fa-caret-down"></i>
                    </span><img src="https://fotograf.sabis.sakarya.edu.tr/Fotograf/850428dc117d9b6af917b07af243dbad" alt="Dangerfield" /> @*ögrenci resmi db'den gelecek*@
                </a>
                <ul class="dropdown-menu userinfo arrow" style="padding:0 15px;">
                    <li class="userlinks">
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <a href="https://sabis.sakarya.edu.tr/tr/Hesap/?t=6">
                                    @*kullanıcı idye göre profil *@
                                    <img src="https://fotograf.sabis.sakarya.edu.tr/Fotograf/850428dc117d9b6af917b07af243dbad" alt="Kullanıcı Resmi" style="padding:0 10px 10px; width:150px; border-radius:20px;" />
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="https://sabis.sakarya.edu.tr/tr/Hesap/?t=6">Profil<i class="pull-right fa fa-user"></i></a></li>
                            <li><a href="https://sabis.sakarya.edu.tr/tr/Hesap">Hesap Ayarları<i class="pull-right fa fa-cog"></i></a></li>

                            <li class="divider"></li>

                            <li><a href="@Url.Action("Index", "Home")">Oturum Kapat <i class="pull-right fa   fa-sign-out"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            @*<li class="tooltips" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="SA&#220; Posta">
                    <a target="_blank" href="http://posta.sakarya.edu.tr/"><i class="fa fa-envelope"></i></a>
                </li>*@
        </ul>



    </header>

    <div id="page-container">
        <!-- Menu Partial Buraya Gelecek -->
        <!-- BEGIN SIDEBAR -->
        <nav id="page-leftbar" role="navigation">
            <!-- BEGIN SIDEBAR MENU -->

            @{
                var kullanici = Session["Kullanici"] as BilgiYonetimSistemi.DATA.Entities.Kullanici;
                if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici,"yonetici") || BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "developer"))
                {
                        @Html.Partial("_AdminPartial")
                }
                else if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "ogrenci"))
                {
                        @Html.Partial("_OgrenciPartial")
                }
                else if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici, "ogretmen"))
                {
                        @Html.Partial("_OgretmenPartial")
                    }

            }


        </nav>

        <div id="page-content">
            <div id='wrap'>


                <div id="page-heading">


                    <h1 class="hidden"></h1>
                </div>
                <div class="container">
                    <!-- Sayfa İçeriğinin Başla -->
                    <!-- Pines Notify Gelecek -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-midnightblue">
                                <div class="panel-body">
                                    <div class="row">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Sayfa İçeriğinin Bit -->
                </div> <!-- container -->
            </div> <!--wrap -->
        </div> <!-- page-content -->
        <!--Model Box Başla-->
        <div id="GlobalModalBox" class="modal fade">
            <div class="modal-dialog" style="width: auto !important">
                <div class="modal-content col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="modal-header">
                        <button type="button" class="close GlobalModalBoxClose" data-dismiss="modal" aria-hidden="true" style="font-size: 36px; color:red;">×</button>
                        <h4 class="modal-title" id="GlobalModalBoxTitle">Başlık</h4>
                    </div>
                    <div class="modal-body">
                        <p id="GlobalModalBoxBody">One fine body…</p>
                    </div>
                    <div class="modal-footer" id="GlobalModalBoxFooterYesNo">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="GlobalModalBoxYes">Evet</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="GlobalModalBoxNo">Hayır</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--Model Box Bit-->
        <!--Loading Box-->
        <!--Loading Box-->

        <footer role="contentinfo">
            <div class="clearfix">
                <ul class="list-unstyled list-inline">
                    <li>SAKARYA ÜNİVERSİTESİ &copy; 2019</li>
                    <li>Version: 1.0.0.29140 - Dated: 19.2.2019 16:11:20</li>
                    <li>151</li>
                    <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                </ul>
            </div>
        </footer>

    </div> <!-- page-container -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="assets/js/jqueryui-1.10.3.min.js'))</script>
    -->
    @* bendekileri kullanalim dur *@

    <script src="~/lib/js/master_core.js"></script>
    <script src="~/lib/js/uys.js"></script>
    <script src="~/lib/js/showLoading.js"></script>
    <script src="~/lib/js/enquire.js"></script>
    <script src="~/lib/js/jquery.cookie.js"></script>
    <script src="~/lib/js/jquery.nicescroll.min.js"></script>
    <script src="~/lib/js/placeholdr.js"></script>
    <script src="~/lib/js/application.js"></script>
    <script src="~/lib/js/jquery.pnotify.min.js"></script>
    <script src="~/lib/js/parsley.min.js"></script>


    <!-- Plugin javascript dosyaları Başla -->
    <!-- assets/plugins/ klasöründeki eklentilerin javascript dosyaları burada yüklenecek -->
    <!-- Plugin javascript dosyaları Bit -->
    @*<script src="~/lib/js/jira.collector.plugin.js"> Geri bildirim kodu
        </script>*@

    @*<script type="text/javascript">
            $(document).ready(function () {
                var universityId = '1426';

                $("a.navbar-brand").css("background", 'url("/Content/img/logo_' + universityId + '.png")  no-repeat center center');
                $("a.navbar-brand").css("background-size", 'auto 20px');
                //$("div.navbar-header").css("width", '100px');
                //$("div.navbar-header").css("height", '20px');
            });
        </script>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @RenderSection("scripts", required: false)
</body>
</html>
