@model BilgiYonetimSistemi.DATA.FakulteBolumler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div class="alert alert-danger">
                        <h4>@Model.BolumunFakultesi.FakulteAdi Fakültesinden @Model.FakulteninBolumu.BolumAdi Bölümünü Silmek İstediğinize Emin Misiniz?</h4>
                        </div>
                            <div>
                                <h4>Fakülte Bölüm</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Fakülte Adı:")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BolumunFakultesi.FakulteAdi)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Bölüm Adı:")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FakulteninBolumu.BolumAdi)
                                    </dd>
                                    <br />
                                    <br />

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="SİL" class="btn btn-danger" /> 
                                        @Html.ActionLink("Listeye Dön", "Index", null, new
                                   {
                                       @class = "btn btn-default  ",
                                       @style = "float:right"
                                   })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
