@model BilgiYonetimSistemi.DATA.FakulteBolumler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FakulteBolumler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BolumunFakultesi.FakulteAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BolumunFakultesi.FakulteAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FakulteninBolumu.BolumAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FakulteninBolumu.BolumAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FakulteBolumlerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
