@model IEnumerable<BilgiYonetimSistemi.DATA.FakulteBolumler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BolumunFakultesi.FakulteAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FakulteninBolumu.BolumAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BolumunFakultesi.FakulteAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FakulteninBolumu.BolumAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FakulteBolumlerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FakulteBolumlerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FakulteBolumlerID })
        </td>
    </tr>
}

</table>
