@model List<BilgiYonetimSistemi.DATA.OgrencilerDerslerDonemler>
@{
    ViewBag.Title = "Index";
}

<div id="transkriptTasiyici">
    @{
        int toplamKrediSayisi = 0;
        double genelToplamAgirlikli = 0;
        int donemSonuToplamKredi = 0;
        double toplamAgirlikli = 0;
    }

    @for (int i = 1; i < (int)ViewBag.OgrencininDonemSayisi; i++)
    {
        donemSonuToplamKredi = 0;
        toplamAgirlikli = 0;
        <div class="col-md-6">
            <div class="panel panel-sky">
                <div class="panel-heading" style="border-radius: 5px 5px 0 0;  ">
                    <h5 class="text-center">
                        @i  .Yarıyıl
                    </h5>
                </div>
                <div class="panel-body" style="padding:0; border:none;">
                    <table class="table table-striped table-condensed table-bordered" style="background-color: #ffffff; margin-bottom:0;">
                        <thead>
                            <tr>
                                <td>
                                    <strong>Ders Adı</strong>
                                </td>
                                <td class="text-center">
                                    <strong></strong>
                                </td>
                                <td class="text-center">
                                    <strong>Başarı Notu</strong>
                                </td>
                                <td class="text-center">
                                    <strong>AKTS Kredisi</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>

                            @if (i == 1)
                            {
                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("101"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 2)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("102"))
                                    { 
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 3)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("201"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 4)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("202"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 5)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("202"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi

                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 6)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("202"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 7)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("202"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi

                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else if (i == 8)
                            {

                                foreach (var bolumdersdonem in Model)
                                {
                                    if (bolumdersdonem.OgrencininDersi.DersKodu.EndsWith("202"))
                                    {
                                        donemSonuToplamKredi += bolumdersdonem.OgrencininDersi.DersKredisi;
                                        <tr>
                                            <td>
                                                @bolumdersdonem.OgrencininDersi.DersAdi
                                            </td>
                                            <td class="text-center">
                                                <span></span>
                                            </td>
                                            <td class="text-center">
                                                <span>
                                                    @BilgiYonetimSistemi.BLL.KullaniciIslemleri.HarfNotuGetir(bolumdersdonem, ref toplamAgirlikli)
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                @bolumdersdonem.OgrencininDersi.DersKredisi

                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>

                        <tfoot>
                            @{genelToplamAgirlikli += toplamAgirlikli;
                                toplamKrediSayisi += donemSonuToplamKredi;
                                <tr style="background-color:#dddddd !important;">
                                    <td colspan="2" class="text-right">
                                        <strong>Toplam AKTS Kredi</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Toplam Ağırlıklı</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Ortalama</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:#f9f9f9;">
                                        Dönem Sonu:
                                    </td>
                                    <td class="text-center">
                                        <strong>@donemSonuToplamKredi</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>@toplamAgirlikli</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>@((toplamAgirlikli / donemSonuToplamKredi).ToString("G3"))</strong> 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color:#f9f9f9;">
                                        Genel:
                                    </td>
                                    <td class="text-center">
                                        <strong>@toplamKrediSayisi</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>@genelToplamAgirlikli</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>@((genelToplamAgirlikli / toplamKrediSayisi).ToString("G3"))</strong>
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                </div>
            </div>
            <span>* Gerekli Ders Notları Girilmedi.</span>
        </div>
    }
</div>
