@model BilgiYonetimSistemi.DATA.OgretmenlerDerslerDonemler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OgretmenlerDerslerDonemler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DersinOgretmeni.OgretmenAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersinOgretmeni.OgretmenAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgretmenDersinDonemi.DonemYili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmenDersinDonemi.DonemYili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgretmeninDersi.DersAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmeninDersi.DersAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OgretmenlerDerslerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
