@model BilgiYonetimSistemi.DATA.Ogretmen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğretmen Silme Sayfası</h2>

<h3 style="background-color:red;">Bu öğrenciyi silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Öğretmen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label style="font-weight:bold">Adı:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmenAdi)
        </dd>

        <dt>
            <label style="font-weight:bold">Soyadı:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmenSoyadi)
        </dd>

        <dt>
            <label style="font-weight:bold">Ünvanı:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan)
        </dd>

        <dt>
            <label style="font-weight:bold">Başlangıç Tarihi:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold">Ayrılış Tarihi:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AyrilisTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold">Personel Numarası:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelNumarasi)
        </dd>

        <dt>
            <label style="font-weight:bold">Fotoğraf:</label>
        </dt>

        <dd>
            <img src="~/images/@Html.DisplayFor(model => model.OgretmeninBilgisi.Fotograf)" style="padding:0 10px 10px; width:70px; border-radius:20px;" />
        </dd>
       
        <dt>
            <label style="font-weight:bold">E-posta:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmeninBilgisi.OgretmenMail)
        </dd>

        <dt>
            <label style="font-weight:bold">TCNo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmeninBilgisi.TCNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Öğretmen Listesini Gör", "Index","", new {@class="btn btn-primary" })
        </div>
    }
</div>
