@model BilgiYonetimSistemi.DATA.Ogretmen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ayrıntılar</h2>

<div>
    <h4>Öğretmenin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label style="font-weight:bold">Adı:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmenAdi)
        </dd>

        <dt>
            <label style="font-weight:bold">Soyadı:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmenSoyadi)
        </dd>

        <dt>
            <label style="font-weight:bold">Ünvanı:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan)
        </dd>

        <dt>
            <label style="font-weight:bold">Göreve Başlama Tarihi:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold">Ayrılış Tarihi:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.AyrilisTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold">Personel Numarası:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelNumarasi)
        </dd>

        <dt>
            <label style="font-weight:bold">Şifresi:</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            <label style="font-weight:bold">E-posta</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmeninBilgisi.OgretmenMail)
        </dd>

        <dt>
            <label style="font-weight:bold">TCNo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgretmeninBilgisi.TCNo)
        </dd>
        <dt>
            <label style="font-weight:bold">Fotoğraf</label>

        </dt>

        <dd>
            <img src="~/images/@Html.DisplayFor(model => model.OgretmeninBilgisi.Fotograf)" style="padding:0 10px 10px; width:70px; border-radius:20px;" />
        </dd>
    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgretmenID }, new {@class="btn btn-warning" }) 
    @Html.ActionLink("Listeye Dön", "Index","",new { @class="btn btn-primary"})
</p>
