@model BilgiYonetimSistemi.DATA.Ogretmen

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Düzenleme Sayfası</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="row">

    <div class="panel panel-default ">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="panel-body center-block">

                <h4>Öğretmenin</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OgretmenID)

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Adı</label>
                        @Html.EditorFor(model => model.OgretmenAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OgretmenAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Soyadı</label>

                        @Html.EditorFor(model => model.OgretmenSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OgretmenSoyadi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">
                            Ünvanı
                        </label>
                        @Html.EditorFor(model => model.Unvan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Unvan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Göreve Başlama Tarihi</label>
                        <input type="date" name="model.BaslangicTarihi" />
                        @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Görevden Ayrılış Tarihi</label>
                        <input type="date" name="model.AyrilisTarihi" />
                        @Html.ValidationMessageFor(model => model.AyrilisTarihi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Personel Numarası</label>
                        @Html.EditorFor(model => model.PersonelNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonelNumarasi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Şifre</label>
                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">E-Posta</label>
                        @Html.EditorFor(model => model.OgretmeninBilgisi.OgretmenMail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OgretmeninBilgisi.OgretmenMail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">TCNo</label>
                        @Html.EditorFor(model => model.OgretmeninBilgisi.TCNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OgretmeninBilgisi.TCNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label style="font-weight:bold">Fotoğraf</label>
                        <img src="@Url.Content(@Model.OgretmeninBilgisi.Fotograf)" alt="Fotograf" name="Fotograf" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Öğretmen Listesine Dön", "Index", "", new {@class="btn btn-primary"})
</div>
