@model IEnumerable<BilgiYonetimSistemi.DATA.Ogretmen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Yeni Öğretmen Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>
<h4>
    Öğretmenin
</h4>
<table class="table">
    <tr>
        <th>
            <label style="font-weight:bold">Adı</label>
        </th>
        <th>
            <label style="font-weight:bold">Soyadı</label>
        </th>
        <th>
            <label style="font-weight:bold">Ünvanı</label>
        </th>
        <th>
            <label style="font-weight:bold">Başlama Tarihi</label>
        </th>
        <th>
            <label style="font-weight:bold">Ayrılma Tarihi</label>
        </th>
        <th>
            <label style="font-weight:bold">Personel Numarası</label>
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OgretmenAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OgretmenSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaslangicTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AyrilisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelNumarasi)
            </td>            
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.OgretmenID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.OgretmenID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Sil", "Delete", new { id = item.OgretmenID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
