@model BilgiYonetimSistemi.DATA.Ogrenci

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Ekleme Sayfası</h2>

@using (Html.BeginForm("Create", "Ogrenci", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="container">
            <div class="row" style="margin-top:50px">
                <div class="panel panel-default ">
                    <div class="col-md-8 col-md-offset-2 ">
                        <div class="panel-body center-block">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>TC Kimlik No:</label>
                                    <input class="form-control" type="text" name="tc" id="tc" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Öğrencinin Adı:</label>
                                    @Html.EditorFor(model => model.OgrenciAdi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciAdi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Soyadı:</label>
                                    @Html.EditorFor(model => model.OgrenciSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciSoyadi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Kayıt Tarihi:</label>
                                    <input class="form-control" type="date" name="kayitTarihi" />
                                    @Html.ValidationMessageFor(model => model.KayitTarihi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Bölümü:</label>
                                    <select name="bolumId" class="form-control">
                                        @foreach (var item in ViewBag.Bolum as IEnumerable<BilgiYonetimSistemi.DATA.FakulteBolumler>)
                                        {
                                            <option value="@item.FakulteBolumlerID">@item.BolumunFakultesi.FakulteAdi - @item.FakulteninBolumu.BolumAdi - @item.FakulteninBolumu.EgitimDili </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Öğrenim Şekli:</label>
                                    @Html.DropDownList("OgrenimSekliID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OgrenimSekliID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Eğitim Düzeyi:</label>
                                    @Html.DropDownList("EgitimDuzeyiID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EgitimDuzeyiID, "", new { @class = "text-danger" })
                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Adres</label>
                                    <input class="form-control" type="text" name="adres" id="adres" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Telefon</label>
                                    <input class="form-control" type="text" name="telefon" id="telefon" />
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-10">
                                    <label style="font-weight:bold;">Fotoğraf:</label>
                                    <input type="file" name="file" id="file" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="KAYDET" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tüm Öğrencileri Gör", "Index", null, new { @class = "btn btn-primary" })
</div>
