@model BilgiYonetimSistemi.DATA.Ogrenci

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Silme Sayfası</h2>

<h3 style="background-color:red;">Bu öğrenci kaydını silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrencininEgitimDuzeyi.EgitimDuzeyTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininEgitimDuzeyi.EgitimDuzeyTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrencininOgrenimSekli.OgrenimTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininOgrenimSekli.OgrenimTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MezuniyetTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezuniyetTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BolumID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BolumID)
        </dd>

        <dt>
            <label style="font-weight:bold;">Adres:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.Adres)
        </dd>

        <dt>
            <label style="font-weight:bold;">TCNo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.TCNo)
        </dd>

        <dt>
            <label style="font-weight:bold;">Telefon:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.Telefon)
        </dd>

        <dt>
            <label style="font-weight:bold;">E-posta:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.OgrenciMail)
        </dd>

        <dt>
            <label style="font-weight:bold;">Fotoğraf:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.Fotograf)
        </dd>

        <dt>
            <label style="font-weight:bold;">Mezuniyet Durumu:</label>
        </dt>
     
        <dd>
            @{ string MezunMu = Model.OgrenciBilgisi.MezunMu ? "Mezun" : "Mezun Değil"; }
            <span style="font-weight:bold;">@MezunMu</span>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Listeye Dön", "Index",null, new { @class= "btn btn-primary"})
        </div>
    }
</div>
