@model BilgiYonetimSistemi.DATA.Ogrenci

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Bilgileri</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label style="font-weight:bold;">Fotoğraf:</label>
        </dt>

        <dd>
            <img src="~/images/@Html.DisplayFor(model => model.OgrenciBilgisi.Fotograf)" style="padding:0 10px 10px; width:70px; border-radius:20px;" />
        </dd>

        <dt>
            <label style="font-weight:bold;">Eğitim Düzeyi:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininEgitimDuzeyi.EgitimDuzeyTipi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Öğrenim Şekli:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininOgrenimSekli.OgrenimTipi)
        </dd>

        <dt>
            <label style="font-weight:bold;">TCNo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.TCNo)
        </dd>

        <dt>
            <label style="font-weight:bold;">Ad:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciAdi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Soyad:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciSoyadi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Öğrenci Numarası:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciNumarasi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Kayıt Tarihi:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Mezuniyet Tarihi:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezuniyetTarihi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Bölüm:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrencininFakulteBolumu.FakulteninBolumu.BolumAdi)
        </dd>

        <dt>
            <label style="font-weight:bold;">Adres:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.Adres)
        </dd>

        <dt>
            <label style="font-weight:bold;">Telefon:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.Telefon)
        </dd>

        <dt>
            <label style="font-weight:bold;">E-posta:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.OgrenciMail)
        </dd>

        <dt>
            <label style="font-weight:bold;">Mezuniyet Durumu:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciBilgisi.MezunMu)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrenciID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Öğrenci Listesine Dön", "Index", null, new { @class = "btn btn-primary" })
</p>
