@model BilgiYonetimSistemi.DATA.Ogrenci

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Güncelleme Sayfası</h2>

@using (Html.BeginForm("Edit","Ogrenci",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="panel panel-default ">
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="panel-body center-block">


                        <div class="form-horizontal">
                            <h4>Öğrenci</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.OgrenciID)

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>TC No:</label>
                                    @Html.EditorFor(model => model.OgrenciBilgisi.TCNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciBilgisi.TCNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Öğrencinin Adı:</label>
                                    @Html.EditorFor(model => model.OgrenciAdi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciAdi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    <label>Soyadı:</label>
                                    @Html.EditorFor(model => model.OgrenciSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciSoyadi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    <label>Numarası:</label>
                                    @Html.EditorFor(model => model.OgrenciNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciNumarasi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    <label>Öğrenim Şekli:</label>
                                    @Html.DropDownList("OgrenimSekliID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OgrenimSekliID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Eğitim Düzeyi:</label>
                                    @Html.DropDownList("EgitimDuzeyiID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EgitimDuzeyiID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Adres:</label>
                                    @Html.EditorFor(model => model.OgrenciBilgisi.Adres, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciBilgisi.Adres, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Telefon:</label>
                                    @Html.EditorFor(model => model.OgrenciBilgisi.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OgrenciBilgisi.Telefon, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Kaydet" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tüm Öğrencileri Gör", "Index",null, new {@class="btn btn-primary" })
</div>
