@model BilgiYonetimSistemi.DATA.Ders

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body center-block">
                    <div class="alert alert-danger">
                        <h3>@Model.DersAdi Dersini Silmek İstediğinize Emin Misiniz?</h3>
                        </div>
                        <iv>
                            <h4>Ders</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("Ders Adı:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DersAdi)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Ders Kredisi:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DersKredisi)  
                                </dd>

                                <dt>
                                    @Html.DisplayName("Ders Kodu:")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DersKodu)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="SİL" class="btn btn-danger" /> 
                                    @Html.ActionLink("Listeye Dön", "Index",null,new { @class = "btn btn-default", @style="float:right" })
                                </div>
                            }
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 