@model IEnumerable<BilgiYonetimSistemi.DATA.BolumlerDersler>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div>
                        <h4>@ViewBag.Bolum.BolumAdi - @ViewBag.Bolum.EgitimDili Dersleri</h4>
                        <hr />
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    <h4>
                                        <strong>
                                            @Html.DisplayName("Ders Kodu")
                                        </strong>
                                    </h4>
                                </th>

                                <th>
                                    <h4>
                                        <strong>
                                            @Html.DisplayName("Ders Adı")
                                        </strong>
                                    </h4>
                                </th>
                                <th>
                                    <h4>
                                        <strong>
                                            @Html.DisplayName("Ders Kredisi")
                                        </strong>
                                    </h4>
                                </th>

                                <th></th>

                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BolumunDersi.DersKodu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BolumunDersi.DersAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BolumunDersi.DersKredisi)
                                    </td>
                                    
                                </tr>
                            }

                        </table>
                    </div>
                    <p>
                        @Html.ActionLink("DERS EKLE", "Create", new { id = @ViewBag.Bolum.BolumID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Listeye Dön", "Departments", null, new { @class = "btn btn-primary", @style = "float:right" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>