@model IEnumerable<BilgiYonetimSistemi.DATA.Ders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <p style="font-size:30px; text-align:center;">DERS İŞLEMLERİ</p>
            <div class="col-md-12  ">
                <div class="panel-body center-block">                                          
                        <p>
                            @Html.ActionLink("YENİ KAYIT", "Department", null, new { @class = "btn btn-info" })
                            @Html.ActionLink("BÖLÜM DERS DETAYLARI", "Departments", null, new { @class = "btn btn-primary", @style = "float:right" })
                        </p>                    
                    <br />
                    <table class="table table-striped">
                        <tr>
                            <th>
                                <h4>
                                    <strong>
                                        @Html.DisplayName("Ders Kodu")
                                    </strong>
                                </h4>
                            </th>

                            <th>
                                <h4>
                                    <strong>
                                        @Html.DisplayName("Ders Adı")
                                    </strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>
                                        @Html.DisplayName("Ders Kredisi")
                                    </strong>
                                </h4>
                            </th>

                            <th></th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DersKodu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DersAdi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DersKredisi)
                                </td>
                                <td style="text-align:right">
                                    @Html.ActionLink("DÜZENLE", "Edit", new { id = item.DersID }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("SİL", "Delete", new { id = item.DersID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>