@model BilgiYonetimSistemi.DATA.OgrenciBilgileri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OgrenciBilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BilgininOgrencisi.OgrenciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BilgininOgrencisi.OgrenciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MezunMu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezunMu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotograf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OgrenciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
